* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div {
    background: rgb(96, 248, 85);
    width: calc(100vw - 50px);
    height: calc(40vh + 20px);
    margin: 10px 0 0 20px;
}

h1{
    font-size: 18px;
    color: rgb(243, 249, 78);
}
h1::after{
    content: "😊";
}